<launch>
    <!-- load the setting file -->
   <rosparam command="load" file="$(find lab_reaching_hand_kinect)/config.yaml" ns="reachingHand"/>
   <arg name="camera" value="camera"/>
   <arg name="camera_link_pose" default="0.60 -0.02 1.15 0.0 0.707 -0.0 0.707"/>
   <!-- Users update this to set transform between camera and robot -->
   <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
         args="$(arg camera_link_pose) /base /$(arg camera)_link 100" />

   <node pkg="lab_reaching_hand_kinect" type="MovementControllerActionLib.py" name="movement_controller_action_lib" args="-c $(arg camera)"/>
   <node pkg="lab_reaching_hand_kinect" type="sampleClient.py" name="movement_controller_client" output="screen"/>
   <node pkg="rviz" type="rviz" name="reachingHandRviz"/>

</launch>
