<launch>
    <!-- load the setting file -->
   <rosparam command="load" file="$(find lab_reaching_hand_kinect)/config.yaml" ns="reachingHand"/>
   <!-- <arg name="limb" default="left"/> -->
   <arg name="camera" value="camera"/>
   <arg name="camera_link_pose" default="0.60 -0.02 1.15 0.0 0.707 -0.0 0.707"/>
   <!-- <param name="use_sim_time" value="true"/> -->
   <!-- TODO: Figure out a way to launch openni so it is always launched before tracker. -->
   <!-- launch openni to talk to kinect -->
   <!-- <include file="$(find openni_launch)/launch/openni.launch"> -->
       <!-- These args are workarounds for tf_prefix issues in freenect.launch -->
       <!-- <arg name="camera" value="$(arg camera)"/> -->
   <!-- </include> -->
   <!-- run openni_tracker to enable skeleton tracking -->
   <!-- <node pkg="openni_tracker" type="openni_tracker" name="camera_tracker">
     <param name="camera_frame_id" value="$(arg camera)_depth_frame"/>
   </node> -->
   <!-- Users update this to set transform between camera and robot -->
   <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
         args="$(arg camera_link_pose) /base /$(arg camera)_link 100" />

   <!-- <include file="$(find baxter_moveit_config)/launch/move_group.launch"/> -->

   <!-- <node pkg="lab_reaching_hand_kinect" type="HandDetector.py" name="hand_detector" args="-c $(arg camera)"/> -->
   <node pkg="lab_reaching_hand_kinect" type="MovementControllerActionLib.py" name="movement_controller_action_lib" output="screen"/>
   <!-- <node pkg="lab_reaching_hand_kinect" type="sampleClient.py" name="movement_controller_client" output="screen"/> -->
   <node pkg="rviz" type="rviz" name="reachingHandRviz"/>

   <!-- <node pkg="lab_reaching_hand_kinect" type="reaching_hand.py" name="reaching_hand"/>
   <node pkg="rviz" type="rviz" name="rviz"/> -->

</launch>
